body{
  font-size: 13px;
  font-family: 'PingFang-SC-Medium';
  margin: 0; 
  color: #353535;
  height: 100%;
  background-color: #f7f7f7;
}
* {
  box-sizing: border-box;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
// .clearfix{
//   *+height:1%;
// }
input{
  outline: none;
}
// 按钮 颜色
.mint-button--primary{
  background-color: #2175e3;
}
.mint-button{
  font-size: 15px;
}
.mint-cell-allow-right::after {
  border: solid 1px #848484;
  border-bottom-width: 0;
  border-left-width: 0;
  width: 10px;
  height: 10px;
}
/*登录页面*/
.login-check {
  .mint-cell{
    background: none;
    // background: #353535;
  }
  .mint-cell-wrapper{
    padding: 0;
    font-size: 12px;
    color: #848484;
    background: none;
  }
  .mint-checklist-label {
    padding: 0;
    font-size: 12px;
    color: #848484;
    // position: relative;
    // left: -6px;
  }
  .mint-checkbox-core{
    border-radius: 4px;
    transform: scale(.6,.6);
  }
  .mint-checkbox-label{
    margin-left: 0;
  }
}

.mint-cell-text{
  font-size: 14px;
}
// 加载
.mint-indicator-mask{
  z-index: 20;
}

// 个人资料页面
.personal {
  .head{
    .mint-field-core{
      flex: none;
      width: 0;
    }
    .mint-field-other{
      width: 100%;
    }
  }
  .mint-field-core{
    font-size: 14px;
  }
}

.left-pop {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  overflow: auto;
}

// 日期
.mint-datetime-cancel {
  padding-left: 20px;
  text-align: left;
  color: #666;
  font-size: 18px;
}
.mint-datetime-confirm{
  padding-right: 20px;
  text-align: right;
  color: #2175e3;
  font-size: 18px;
}
/* 高德地图底部 logo 版权信息 */
.amap-logo,.amap-copyright, .amap-geolocation-con{
  display: none !important;
}

/* 地图房源提示 */
.markerTip {
  position: relative;
  display: inline-block;
  height: 27px;
  line-height: 27px;
  margin-left:calc(-50% + 9px);
  padding: 0 15px;
  white-space: nowrap;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #2175e3;
  box-shadow: 0px 3px 5px 0px rgba(50, 127, 228, 0.48);
  text-align: center;
  border-radius: 15px;
  .buttom{
    position: absolute;
    top: 27px;
    left: 50%;
    // display: inline-block;
    width: 0;
    height: 0;
    margin-left: -4px;
    vertical-align: middle;
    border-top: 4px solid;
    border-color: #2175e3;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
.csmarker{
  display: block;
}
.amap-marker-content{
  img{
    display: none;
  }
}
// 预约看房
.textarea {
  .mint-cell-title{
    flex: none;
  }
  .mint-cell-value {
    width: 100%;
  }
}

//
.mint-radio-label {
  font-size: 13px;
}

input:disabled {
  background-color: #fff;
}

.mint-field-core{
  font-size: 14px;
  &::placeholder {
    color: #d9d9d9;
  }
}
/* 图片轮播 */
.banner-imgs {
  position: relative;
  height: 200px;
  .tip{
    position: absolute;
    padding: 0 3px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    line-height: 25px;
    background-color: #333;
    opacity: .76;
    color: #fff;
    font-size: 12px;
    right: 10px;
    bottom: 10px;
  }
  .mint-swipe-indicators{
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
